* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* body {
  background-color: #fff;
  position: relative;
  z-index: 3;
} */

html {
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding, 16rem);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh 1fr 10rem;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.logo-container {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 73%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.logo {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

header {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5rem;
  background-color: aquamarine;
  grid-area: header;
  gap: 3rem;
  position: relative;
  top: 25vh;
  padding-bottom: 5rem;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  gap: 5rem;
}

nav ul li {
  width: 15rem;
  height: 6rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main {
  grid-area: main;
  position: relative;
  top: 5rem;
}

/*/////////////////////*/
/*   GENERAL STYLING   */
/*/////////////////////*/

section {
  margin-bottom: 5rem;
  margin-top: 5rem;
  background-color: yellow;
}

.container {
  width: 90%;
  height: auto;
  background-color: orange;
  margin: auto;
  display: grid;
  /* grid-template-rows: 10rem 1fr; */
  gap: 1rem;
  padding: 1rem;
  overflow: auto;
}

/* .right {
  grid-row: 1/2;
}
.left {
  grid-row: 2/3;
  overflow: auto;
} */

.container h1 {
  font-size: 1.5rem;
  text-align: center;
  grid-row-start: 2;
}

.subtitle {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

/*/////////////////////*/
/*        ABOUT        */
/*/////////////////////*/

.right p {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.5;
}
.left {
  overflow: hidden;
}
.left img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

/*//////////////////////*/
/*      COLLECTION      */
/*//////////////////////*/

#collection .left {
  gap: 0px;
}

.gallery {
  display: grid;
  grid-auto-rows: repeat(3, 1fr);
}

.card {
  display: grid;
  grid-auto-rows: 70% 10%;
}

.card img {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
}

.card p {
  font-size: 1rem;
  padding: 4.6%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
}

/*///////////////////*/
/*      CONTACT      */
/*///////////////////*/

form {
  text-align: center;
  margin: auto;
  width: 90%;
}

.form-entry {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  margin-bottom: 2rem;
}

label {
  font-size: 1.5rem;
  align-self: flex-start;
  margin-bottom: 0.5rem;
}

input,
textarea {
  font-size: 1rem;
  width: 100%;
  border-radius: 5px;
  height: 2.5rem;
  background-color: navy;
  color: aliceblue;
  resize: vertical;
}

textarea {
  height: 6rem;
}

input:hover {
  outline: 2px solid green;
}

button {
  display: inline-block;
  margin-top: 10px;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 2rem;
}

button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}
button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
button:hover {
  color: #fff;
}

/*///////////////////*/
/*      FOOTER       */
/*///////////////////*/

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  padding: 2rem;
}
.contact-info {
  line-height: 1.5;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.icons i {
  color: black;
  font-size: 2rem;
}

/*///////////////////*/
/*   MEDIA QUERIES    */
/*///////////////////*/

@media screen and (min-width: 620px) {
  .grid-container {
    grid-template-rows: 6rem 1fr 6rem;
  }

  .logo-container {
    background: none;
    position: fixed;
    top: 2rem;
    left: 1rem;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  header {
    height: 6rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding-top: 3rem;
    gap: 3rem;
    position: fixed;
    top: 0;
    padding-bottom: 3rem;
  }

  nav ul {
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
  }

  nav ul li {
    width: 8rem;
    height: 3rem;
  }

  main {
    grid-area: main;
    position: static;
    top: 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .grid-container {
    grid-template-rows: 10rem 1fr 10rem;
  }

  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-areas: "right" "left"; */
    background-color: aquamarine;
    padding: 3rem;
    height: 80vh;
  }
  .right {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .left {
    background-color: #fff;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .subtitle {
    font-size: 3rem;
  }

  .right p {
    font-size: 2rem;
  }

  .left img {
    width: 100%;
    height: auto;
  }

  #home {
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
}
