* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* body {
  background-color: #fff;
  position: relative;
  z-index: 3;
} */

html {
  scroll-behavior: smooth;
  /* scroll-padding: 25rem; */
  scroll-padding: var(--scroll-padding, 18rem);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh 1fr 10rem;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.logo-container {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 73%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.logo {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

header {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5rem;
  background-color: aquamarine;
  grid-area: header;
  gap: 5rem;
  position: relative;
  top: 30vh;
  /* position: relative;
  z-index: 66; */
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  gap: 5rem;
}

nav ul li {
  width: 15rem;
  height: 6rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main {
  grid-area: main;
  /* background-color: #fff; */
}

/*/////////////////////*/
/*   GENERAL STYLING   */
/*/////////////////////*/

section {
  z-index: 2;
  margin-bottom: 5rem;
  margin-top: 5rem;
  background-color: yellow;
}

.container {
  width: 80%;
  min-height: 40vh;
  background-color: orange;
  margin: auto;
  display: grid;
  grid-template-rows: 50% 50%;
  gap: 0px;
  outline: 2px solid red;
  padding: 1rem;
}

.container h1 {
  font-size: 2rem;
  text-align: center;
  grid-row-start: 2;
  outline: 2px solid red;
}

.subtitle {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

/*/////////////////////*/
/*    LANDING PAGE     */
/*/////////////////////*/

#home {
  margin-top: 80rem;
}

/*/////////////////////*/
/*        ABOUT        */
/*/////////////////////*/

.right p {
  font-size: 1.5rem;
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.left {
  overflow: hidden;
}
.left img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

/*//////////////////////*/
/*      COLLECTION      */
/*//////////////////////*/

.gallery {
  display: grid;
  grid-auto-rows: minmax(10rem, 20%);
  gap: 2rem;
  outline: 2px solid blue;
  height: fit-content;
}

.card {
  display: grid;
  grid-template-rows: 80% 8%;
}

.card img {
  width: 100%;
  height: 100%;
}

.card p {
  line-height: 2;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
}

/*///////////////////*/
/*      CONTACT      */
/*///////////////////*/

form {
  text-align: center;
  margin: auto;
  width: 90%;
  outline: 2px solid blue;
}

.form-entry {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  margin-bottom: 2rem;
}

label {
  font-size: 1.5rem;
  align-self: flex-start;
  margin-bottom: 0.5rem;
}

input,
textarea {
  font-size: 1rem;
  width: 100%;
  border-radius: 5px;
  height: 2.5rem;
  background-color: navy;
  color: aliceblue;
  resize: vertical;
}

textarea {
  height: 6rem;
}

input:hover {
  outline: 2px solid green;
}

button {
  display: inline-block;
  margin-top: 10px;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 2rem;
}

button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}
button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
button:hover {
  color: #fff;
}

/*///////////////////*/
/*      FOOTER       */
/*///////////////////*/

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  padding: 2rem;
}
.contact-info {
  line-height: 1.5;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.icons i {
  color: black;
  font-size: 2rem;
}

/*///////////////////*/
/*   MEDIA QUERIES    */
/*///////////////////*/

@media screen and (min-width: 620px) {
  .grid-container {
    grid-template-rows: 6rem 1fr 6rem;
  }

  /* #about {
  display: flex;
  border: 2px solid black;
} */

  .about-container {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left" "right";
    background-color: aquamarine;
  }

  .subtitle {
    font-size: 20px;
  }

  .right p {
    font-size: 10px;
  }

  .left {
    display: flex;
    justify-content: end;
  }
  .left img {
    object-fit: cover;
    width: 100%;
  }
}
