body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    height: 100vh;
}

nav ul {
    list-style-type: none;
    padding: 50px;
}

nav ul li {
    padding: 30px;
    margin: 20px;
    border: 2px solid black;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
}